beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
exceptiongroup==1.2.0
greenlet==3.0.3
idna==3.6
iniconfig==2.0.0
mock==5.1.0
packaging==24.0
pluggy==1.4.0
psycopg2-binary==2.9.9
pycparser==2.21
pycurl==7.45.3
pyOpenSSL==24.1.0
pytest==8.1.1
python-dateutil==2.9.0.post0
requests==2.31.0
rhnlib==2.10.1
rpm==0.1.0
six==1.16.0
solv==0.7.28
soupsieve==2.5
SQLAlchemy==2.0.28
tomli==2.0.1
typing_extensions==4.10.0
urlgrabber==4.1.0
urllib3==2.2.1
